.v-container {
    width: calc(98% - 40px);
    margin: 0 auto;
}

@media (min-width: 1600px) {
    .v-container {
        width: calc(95% - 40px);
    }
}

@media (min-width: 1920px) {
    .v-container {
        width: calc(90% - 40px);
    }
}