.v-list {
    .v-list-item {
        box-sizing: border-box;
        width: 100%;
        padding: 12px 16px;

        &.v-padding-big {
            padding: 15px 40px;

            .v-fix-body {
                margin-top: 10px;
                margin-bottom: -15px;
                margin-left: -40px;
                margin-right: -40px;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, .12);
        }

        &.primary {
            background-color: #1780db;
            color: #fff;
        }

        &.grey {
            background-color: #a5a5a5;
            color: #fff;
        }

        .v-fix-body {
            margin-top: 10px;
            margin-bottom: -12px;
            margin-left: -16px;
            margin-right: -16px;
        }
    }
}

.v-contest-list {
    .v-list-item {
        border: none !important;

        .v-list-title {
            margin: 5px 0;
        }
    }
}

.v-list.v-list-hover {
    .v-list-item {
        transition: background-color .2s;
        &:not(.unhover) {
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, .04);
            }

            &.primary:hover {
                background-color: #2790eb;
            }
        }
    }
}