html {
    min-height: 100vh;
    background-image: linear-gradient(160deg, #f0f0f0, #fffdfb) !important;
}

body {
    height: 100%;
    overflow: auto;
    font-size: 14px;
    margin: 0;
    font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#vtoj-app {
    margin-top: 92px;
}

.v-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.float-right {
    float: right;
}

.v-pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.v-light {
    position: fixed;
    left: 0;
    right: 0;
    background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #1780db 100%);
    filter: blur(20vh);
    height: 40vh;
    bottom: -30vh;
    z-index: -1;
}
.v-tag {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 3px;
    background-color: #eaeaea;
    color: #212223;
    font-size: 14px;
    transition: all 0.2s;

    &.v-tag-link {
        cursor: pointer;
    }

    &.primary {
        background-color: #1780db;
        color: #fff;
    }

    &.secondary {
        background-color: #6c757d;
        color: #fff;
    }

    &.success {
        background-color: #28a745;
        color: #fff;
    }

    &.danger {
        background-color: #dc3545;
        color: #fff;
    }

    &.warning {
        background-color: #ffc107;
        color: #212223;
    }

    &.info {
        background-color: #17a2b8;
        color: #fff;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px #bebebe;
    background: #bebebe;
    transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 5px #aaaaaa;
    background: #888;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #e0e0e0;
    background: #e0e0e0;
    opacity: 1;
}