.v-result.red {
    color: #db2828;
}

.v-result.green {
    color: #47af50;
}

.v-result.blue {
    color: #2185d0;
}

.v-result.yellow {
    color: #fbbd08;
}

.v-result {
    display: flex;
    align-items: center;
}